@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Open+Sans:wght@800&display=swap');

:root {
    --color-light-white: #F9F7F7;
    --color-dark-blue: #112D4E;
    --color-light-blue: #3F72AF;
    --color-grey: rgb(155, 154, 154);
    --font-size-smaller: 2vh;
    --font-size-small: 2.5vh;
    --font-size-medium: 3.5vh;
    --font-size-large: 4.5vh;
    --margin-inputs: 10px;
    --margin-bottom: 30px;
    --margin-sides: 20%;
    --border-radius: 6px;
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-size: var(--font-size-small);
}

.spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The text that represents the name of the functionality that is desired */
.action-title {
    color: var(--color-dark-blue);
    font-weight: bolder;
    text-shadow: 0 0 0 var(--color-dark-blue);
    font-size: var(--font-size-medium);
    padding: var(--margin-inputs) 0;  /* extra space to differentiate between texts */
}

a:visited, a:link {
    text-decoration: none;
}

.link {
    color: var(--color-light-blue);
    font-weight: bolder;
    text-shadow: 0 0 0 var(--color-dark-blue);
}

/* The title of the website, including bug icon and text */
.website-title {  /* align the icon and the text */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.website-title span {
    color: var(--color-dark-blue);
    font-size: var(--font-size-large);
    font-family: 'Open Sans', sans-serif;
}
