<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="userValidator" class="validator.UserValidator"/>
    <bean id="projectValidator" class="validator.ProjectValidator"/>
    <bean id="involvementValidator" class="validator.InvolvementValidator"/>
    <bean id="issueValidator" class="validator.IssueValidator"/>

    <bean class="repository.hibernate.UserHbRepository" id="userHbRepository">
        <constructor-arg ref="userValidator"/>
    </bean>

    <bean class="repository.hibernate.ProjectHbRepository" id="projectHbRepository">
        <constructor-arg ref="projectValidator"/>
    </bean>

    <bean class="repository.hibernate.InvolvementHbRepository" id="involvementHbRepository">
        <constructor-arg ref="involvementValidator"/>
    </bean>

    <bean class="repository.hibernate.IssueHbRepository" id="issueHbRepository">
        <constructor-arg ref="issueValidator"/>
    </bean>

    <util:properties id="aiServiceProperties" location="classpath:aiService.properties"/>

    <bean class="ai.HttpPredictor" id="predictor">
        <constructor-arg ref="aiServiceProperties"/>
    </bean>

    <bean class="service.MasterService" id="service">
        <constructor-arg ref="userHbRepository"/>
        <constructor-arg ref="projectHbRepository"/>
        <constructor-arg ref="involvementHbRepository"/>
        <constructor-arg ref="issueHbRepository"/>
        <constructor-arg ref="predictor"/>
    </bean>

    <bean class="security.UserDetailsServiceImpl" id="userDetailsService">
        <constructor-arg ref="service"/>
    </bean>
</beans>