<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <beans profile="dev">
        <bean id="propertiesFile" class="java.lang.String">
            <constructor-arg value="application-dev.properties"/>
        </bean>
        <util:properties id="applicationProperties" location="classpath:application-dev.properties"/>
    </beans>

    <beans profile="prod">
        <bean id="propertiesFile" class="java.lang.String">
            <constructor-arg value="application-prod.properties"/>
        </bean>
        <util:properties id="applicationProperties" location="classpath:application-prod.properties"/>
    </beans>

    <beans profile="dev, prod">
        <bean id="userValidator" class="validator.UserValidator"/>
        <bean id="projectValidator" class="validator.ProjectValidator"/>
        <bean id="involvementValidator" class="validator.InvolvementValidator"/>
        <bean id="issueValidator" class="validator.IssueValidator"/>

        <bean class="repository.hibernate.UserHbRepository" id="userHbRepository">
            <constructor-arg ref="userValidator"/>
            <constructor-arg ref="propertiesFile"/>
        </bean>

        <bean class="repository.hibernate.ProjectHbRepository" id="projectHbRepository">
            <constructor-arg ref="projectValidator"/>
            <constructor-arg ref="propertiesFile"/>
        </bean>

        <bean class="repository.hibernate.InvolvementHbRepository" id="involvementHbRepository">
            <constructor-arg ref="involvementValidator"/>
            <constructor-arg ref="propertiesFile"/>
        </bean>

        <bean class="repository.hibernate.IssueHbRepository" id="issueHbRepository">
            <constructor-arg ref="issueValidator"/>
            <constructor-arg ref="propertiesFile"/>
        </bean>

        <bean class="ai.HttpPredictor" id="predictor">
            <constructor-arg ref="applicationProperties"/>
        </bean>

        <bean class="service.MasterService" id="service">
            <constructor-arg ref="userHbRepository"/>
            <constructor-arg ref="projectHbRepository"/>
            <constructor-arg ref="involvementHbRepository"/>
            <constructor-arg ref="issueHbRepository"/>
            <constructor-arg ref="predictor"/>
        </bean>

        <bean class="security.UserDetailsServiceImpl" id="userDetailsService">
            <constructor-arg ref="service"/>
        </bean>
    </beans>

</beans>