.css-1l8j5k8, .MuiAppBar-root, .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: var(--color-dark-blue) !important;
}

.css-yb0lig, .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
    color: var(--color-light-white) !important;
    font-size: var(--font-size-small) !important;
    font-weight: bold !important;
    font-family: 'Noto Sans', sans-serif !important;
}
