<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:mem:issue_tracker;DB_CLOSE_DELAY=-1</property>

        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping resource="User.hbm.xml"/>
        <mapping resource="Project.hbm.xml"/>
        <mapping resource="Involvement.hbm.xml"/>
        <mapping resource="Issue.hbm.xml"/>
    </session-factory>
</hibernate-configuration>