.labeled-field {
    margin: var(--margin-inputs) 0;
}

.labeled-field p {
    color: var(--color-dark-blue);
    font-size: var(--font-size-small);
}

.labeled-field input {
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius);
    font-size: var(--font-size-small);
    width: 100%;
}
